.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.mkb-artisan-card {
  min-width: 200px;
  margin-bottom: 15px;
}

.mkb-artisan-card .card-img-overlay {
  background: none;
  opacity: 0;
  transition: 0.4s;
}

.mkb-artisan-card .card-img-overlay:hover {
  opacity: 1;
  background-color: rgba(128, 255, 255, .5);
}

.mkb-artisan-card .card-img-overlay.processing {
  opacity: 1;
  background-color: rgba(128, 255, 255, .5);
}

.mkb-makers .col {
  text-align: center;
}
